!!! 5
%html.h-full.bg-white
  %head
    %title T::Ads
    %meta{ name: :viewport, content: 'width=device-width,initial-scale=1' }
    %meta{ name: 'turbo-refresh-method', content: :morph }
    %meta{ name: 'apple-mobile-web-app-capable', content: :yes}
    %meta{ name: 'mobile-web-app-capable', content: :yes}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head
    %link{ rel: :icon, href: '/icon.png', type: 'image/png' }
    %link{ rel: :icon, href: '/icon.svg', type: 'image/svg+xml' }
    %link{ rel: 'apple-touch-icon', href: '/icon.png' }

    = stylesheet_link_tag :app, 'data-turbo-track': :reload
    = javascript_importmap_tags

  %body.h-full.font-mono.antialiased
    %div
      .lg:fixed.lg:inset-y-0.lg:z-50.lg:flex.lg:w-72.lg:flex-col
        .flex.grow.flex-col.gap-y-5.overflow-y-auto.bg-gray-900.px-6

    %main.py-10-.lg:pl-72
      .px-4.sm:px-6.lg:px-8.p-8
        = yield
